.Navbar {
  background-color:#f8f8f8;
  width: 90%;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin-left: 25px;
  margin-right: 35px;
  border-color: black;
  border-width: 50px;
  
}
.Nav {
  background-color:#f8f8f8;
  width: 80%;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin-left: 25px;
  margin-right: 35px;
  justify-content: center;
  align-items: center;
}
.Nav .leftSide .linkN {
  max-height: 50px;
  border-color: black;
}
.App {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}
.Navbar .leftSide {
  flex: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar .leftSide .links{
  max-height: 50px;
  border-color: black;
  
}
.Nav .leftSide .linkN a {
  text-decoration: none;
  color: black;
  
  font-size: 12px;
  margin-left: 40px;
  margin-right: 90px;
  margin-bottom:auto;
  border-color: black
}
.Navbar .leftSide .links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-left: 80px;
  margin-right: 90px;
  margin-bottom: auto;
  border-color: black
}
.Lin{
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-left: 80px;
  margin-right: 90px;
  margin-bottom: auto;
  border-color: black

}
@media only screen and (max-widh: 750px){
  .Navbar .leftSide .links a {
    font-size: 50px;
  }
}
@media only screen and (max-widh: 650px){
  .Navbar .leftSide button {
    display: flex;
  }
}
.vl {
  border-left: 2px solid grey;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.v2 {
  border-left: 2px solid grey;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.root {
  --mainDark: #343a40;
  --mainWhite: #fff;
  --mainGrey: rgba(172, 172, 172);
}
.main-footer .footer-middle .container .row {
  top: 3071px;
left: 0px;
width: 1366px;
height: 307px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.Navbar .separator{
  top: 3061px;
left: 139px;
width: 1088px;
height: 10px;
background: var(--unnamed-color-7daf3f) 0% 0% no-repeat padding-box;
background: #7DAF3F 0% 0% no-repeat padding-box;
opacity: 1;
}
.Home .home-buttom img{
  background-color:#f8f8f8;
  width: 990%;
  height: 2250px;
  
}